{% extends "layout.html" %}

{% block content %}
    <div class="entry-list single">
        <article>
            <h1>{{ entry.title }}</h1>
            <time datetime="{{entry.date }}">{{ entry.date.strftime('%B %d, %Y') }}</time>
            <div class="entry">
                <h3>Time Spent: </h3>
                <p>{{entry.time.hour}} Hours</p>
            </div>
            <div class="entry">
                <h3>What I Learned:</h3>
                {% for paragraph in entry.learned.split('\n') %}
                    <p>{{ paragraph }}</p>
                {% endfor %}
            </div>
            <div class="entry">
                <h3>Resources to Remember:</h3>
                <ul>
                    {% for resource in entry.resources.split(', ') %}
                        <li>{{resource.strip()}}</li>
                    {% endfor %}
                    
                </ul>
            </div>
        </article>
    </div>
{% endblock %}